<!doctype html>
<html lang="en">
<head>
  <title>Trustpilot Challenge</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-title" content="AppName">
  <meta name="application-name" content="AppName">
  <meta name="msapplication-TileColor" content="#da532c">
</head>
<body>
<div id="app"></div>
</body>
</html>